<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="col-md-12">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>General icons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>flaticons-*</code> for all icons</p>
                    <div class="ms-icons-list row flaticons">
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-share"></i>flaticon-share </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-security"></i>flaticon-security </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-reader"></i>flaticon-reader </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-gear"></i>flaticon-gear </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-placeholder"></i>flaticon-placeholder </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-browser"></i>flaticon-browser </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-user"></i>flaticon-user </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-mail"></i>flaticon-mail </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-shut-down"></i>flaticon-shut-down </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-bell"></i>flaticon-bell </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-statistics"></i>flaticon-statistics </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-spreadsheet"></i>flaticon-spreadsheet </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-question"></i>flaticon-question </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-chat"></i>flaticon-chat </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-phone"></i>flaticon-phone </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-browser-1"></i>flaticon-browser-1 </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-layers"></i>flaticon-layers </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-grid"></i>flaticon-grid </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-hammer"></i>flaticon-hammer </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-dashboard"></i>flaticon-dashboard </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-art"></i>flaticon-art </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-list"></i>flaticon-list </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-control"></i>flaticon-control </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-alert"></i>flaticon-alert </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-alert-1"></i>flaticon-alert-1 </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-toxic"></i>flaticon-toxic </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-diamond"></i>flaticon-diamond </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-star"></i>flaticon-star </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-share-1"></i>flaticon-share-1 </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-search"></i>flaticon-search </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-internet"></i>flaticon-internet </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-paint"></i>flaticon-paint </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-pie-chart"></i>flaticon-pie-chart </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-pencil"></i>flaticon-pencil </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-trash"></i>flaticon-trash </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-excel"></i>flaticon-excel </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-pdf"></i>flaticon-pdf </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-network"></i>flaticon-network </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-sticky-note"></i>flaticon-sticky-note </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-alarm"></i>flaticon-alarm </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-archive"></i>flaticon-archive </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-email"></i>flaticon-email </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-stats"></i>flaticon-stats </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-conversation"></i>flaticon-conversation </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-start"></i>flaticon-start </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-tick-inside-circle"></i>flaticon-tick-inside-circle </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-information"></i>flaticon-information </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-turn-notifications-off-button"></i>flaticon-turn-notifications-off-button </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-reuse"></i>flaticon-reuse </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-secure-shield"></i>flaticon-secure-shield </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-horn"></i>flaticon-horn </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-supermarket"></i>flaticon-supermarket </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-computer"></i>flaticon-computer </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-like"></i>flaticon-like </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-speech-bubble"></i>flaticon-speech-bubble </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"> <i class="flaticon-paper-plane"></i>flaticon-paper-plane </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>