<!-- Body Content Wrapper -->
<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <app-breadcrumb></app-breadcrumb>
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Simple Preloaders</h6>
                </div>
                <div class="ms-panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="spinner spinner-1"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="spinner spinner-7">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="spinner spinner-3">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="spinner spinner-4">
                                <div class="cube1"></div>
                                <div class="cube2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Circle Preloaders</h6>
                </div>
                <div class="ms-panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="spinner spinner-5"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="spinner spinner-11">
                                <div class="ms-circle1 ms-circle"></div>
                                <div class="ms-circle2 ms-circle"></div>
                                <div class="ms-circle3 ms-circle"></div>
                                <div class="ms-circle4 ms-circle"></div>
                                <div class="ms-circle5 ms-circle"></div>
                                <div class="ms-circle6 ms-circle"></div>
                                <div class="ms-circle7 ms-circle"></div>
                                <div class="ms-circle8 ms-circle"></div>
                                <div class="ms-circle9 ms-circle"></div>
                                <div class="ms-circle10 ms-circle"></div>
                                <div class="ms-circle11 ms-circle"></div>
                                <div class="ms-circle12 ms-circle"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="spinner spinner-2">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="spinner spinner-8">
                                <div class="ms-circle1 ms-child"></div>
                                <div class="ms-circle2 ms-child"></div>
                                <div class="ms-circle3 ms-child"></div>
                                <div class="ms-circle4 ms-child"></div>
                                <div class="ms-circle5 ms-child"></div>
                                <div class="ms-circle6 ms-child"></div>
                                <div class="ms-circle7 ms-child"></div>
                                <div class="ms-circle8 ms-child"></div>
                                <div class="ms-circle9 ms-child"></div>
                                <div class="ms-circle10 ms-child"></div>
                                <div class="ms-circle11 ms-child"></div>
                                <div class="ms-circle12 ms-child"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Abstract Shape preloaders</h6>
                </div>
                <div class="ms-panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="spinner spinner-9">
                                <div class="ms-cube ms-cube1"></div>
                                <div class="ms-cube ms-cube2"></div>
                                <div class="ms-cube ms-cube3"></div>
                                <div class="ms-cube ms-cube4"></div>
                                <div class="ms-cube ms-cube5"></div>
                                <div class="ms-cube ms-cube6"></div>
                                <div class="ms-cube ms-cube7"></div>
                                <div class="ms-cube ms-cube8"></div>
                                <div class="ms-cube ms-cube9"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="spinner spinner-10">
                                <div class="ms-cube1 ms-cube"></div>
                                <div class="ms-cube2 ms-cube"></div>
                                <div class="ms-cube4 ms-cube"></div>
                                <div class="ms-cube3 ms-cube"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="spinner spinner-6">
                                <div class="dot1"></div>
                                <div class="dot2"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="spinner spinner-12">
                                <div class="ms-cube1 ms-cube"></div>
                                <div class="ms-cube2 ms-cube"></div>
                                <div class="ms-cube4 ms-cube"></div>
                                <div class="ms-cube3 ms-cube"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>