<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <app-breadcrumb></app-breadcrumb>
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Default Alerts</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>type="{{ '{state}' }}"</code> for default alert states</p>
                    <ngb-alert [dismissible]="false" type="success">
                        <strong>Well done!</strong> You successfully read this important alert message.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="info">
                        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="warning">
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="danger">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="brand">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                </div>
            </div>
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Outline Alerts</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.alert-outline</code> for default alert states</p>
                    <ngb-alert [dismissible]="false" type="success" class="alert-outline">
                        <strong>Well done!</strong> You successfully read this important alert message.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="info" class="alert-outline">
                        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="warning" class="alert-outline">
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="danger" class="alert-outline">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="brand" class="alert-outline">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                </div>
            </div>
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Default with Icon Alerts</h6>
                </div>
                <div class="ms-panel-body">
                    <ngb-alert [dismissible]="false" type="success">
                        <i class="flaticon-tick-inside-circle"></i><strong>Well done!</strong> You successfully read this important alert message.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="info">
                        <i class="flaticon-information"></i><strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="warning">
                        <i class="flaticon-alert"></i> <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="danger">
                        <i class="flaticon-alert-1"></i> <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="brand">
                        <i class="flaticon-diamond"></i><strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                </div>
            </div>
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Outline with Icon Alerts</h6>
                </div>
                <div class="ms-panel-body">
                    <ngb-alert [dismissible]="false" type="success" class="alert-outline">
                        <i class="flaticon-tick-inside-circle"></i><strong>Well done!</strong> You successfully read this important alert message.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="info" class="alert-outline">
                        <i class="flaticon-information"></i><strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="warning" class="alert-outline">
                        <i class="flaticon-alert"></i> <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="danger" class="alert-outline">
                        <i class="flaticon-alert-1"></i> <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="brand" class="alert-outline">
                        <i class="flaticon-diamond"></i><strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                </div>
            </div>
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Solid Alerts</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.alert-solid</code> for default alert states</p>
                    <ngb-alert [dismissible]="false" type="success" class="alert-solid">
                        <strong>Well done!</strong> You successfully read this important alert message.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="info" class="alert-solid">
                        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="warning" class="alert-solid">
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="danger" class="alert-solid">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="brand" class="alert-solid">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </ngb-alert>
                </div>
            </div>
        </div>
    </div>
</div>