<div class="ms-quickbar-container text-center ms-invite-member">
    <div class="row">
        <div class="col-md-12 text-left mb-5">
            <h4 class="section-title bold">Customize</h4>
            <div>
                <label class="ms-switch">
                    <input type="checkbox" id="dark-mode" (click)="darkMode()">
                    <span class="ms-switch-slider round"></span>
                </label>
                <span> Dark Mode </span>
            </div>
            <div>
                <label class="ms-switch">
                    <input type="checkbox" id="remove-quickbar" (click)="quickbar()">
                    <span class="ms-switch-slider round"></span>
                </label>
                <span> Remove Quickbar </span>
            </div>
        </div>
        <div class="col-md-12 text-left">
            <h4 class="section-title bold">Keyboard Shortcuts</h4>
            <p class="ms-directions mb-0"><code>Esc</code> Close Quick Bar</p>
            <p class="ms-directions mb-0"><code>Alt + (1 -&gt; 6)</code> Open Quick Bar Tab</p>
            <p class="ms-directions mb-0"><code>Alt + Q</code> Enable Quick Bar Configure Mode</p>
        </div>
    </div>
</div>