<!-- Body Content Wrapper -->
<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <app-breadcrumb></app-breadcrumb>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Round Buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-{{'{state}'}}</code> for different states</p>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Square Buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-square</code> for square buttons</p>
                    <button type="button" class="btn btn-square btn-primary">Primary</button>
                    <button type="button" class="btn btn-square btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-square btn-success">Success</button>
                    <button type="button" class="btn btn-square btn-danger">Danger</button>
                    <button type="button" class="btn btn-square btn-warning">Warning</button>
                    <button type="button" class="btn btn-square btn-info">Info</button>
                    <button type="button" class="btn btn-square btn-light">Light</button>
                    <button type="button" class="btn btn-square btn-dark">Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Pill Buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-pill</code> for pill buttons</p>
                    <button type="button" class="btn btn-pill btn-primary">Primary</button>
                    <button type="button" class="btn btn-pill btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-pill btn-success">Success</button>
                    <button type="button" class="btn btn-pill btn-danger">Danger</button>
                    <button type="button" class="btn btn-pill btn-warning">Warning</button>
                    <button type="button" class="btn btn-pill btn-info">Info</button>
                    <button type="button" class="btn btn-pill btn-light">Light</button>
                    <button type="button" class="btn btn-pill btn-dark">Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Round Outline Buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-outline-{{'{state}'}}</code> for different outline states
                    </p>
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-outline-info">Info</button>
                    <button type="button" class="btn btn-outline-light">Light</button>
                    <button type="button" class="btn btn-outline-dark">Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Square Outline Buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-square</code> for square outline buttons</p>
                    <button type="button" class="btn btn-square btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-square btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-square btn-outline-success">Success</button>
                    <button type="button" class="btn btn-square btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-square btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-square btn-outline-info">Info</button>
                    <button type="button" class="btn btn-square btn-outline-light">Light</button>
                    <button type="button" class="btn btn-square btn-outline-dark">Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Pill Outline Buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-pill</code> for pill outline buttons</p>
                    <button type="button" class="btn btn-pill btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-pill btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-pill btn-outline-success">Success</button>
                    <button type="button" class="btn btn-pill btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-pill btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-pill btn-outline-info">Info</button>
                    <button type="button" class="btn btn-pill btn-outline-light">Light</button>
                    <button type="button" class="btn btn-pill btn-outline-dark">Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Round Gradient Buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-gradient-{{'{state}'}}</code> for different gradient states
                    </p>
                    <button type="button" class="btn btn-gradient-primary">Primary</button>
                    <button type="button" class="btn btn-gradient-secondary">Secondary</button>
                    <button type="button" class="btn btn-gradient-success">Success</button>
                    <button type="button" class="btn btn-gradient-danger">Danger</button>
                    <button type="button" class="btn btn-gradient-warning">Warning</button>
                    <button type="button" class="btn btn-gradient-info">Info</button>
                    <button type="button" class="btn btn-gradient-light">Light</button>
                    <button type="button" class="btn btn-gradient-dark">Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Square Gradient Buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-square</code> for square gradient buttons</p>
                    <button type="button" class="btn btn-square btn-gradient-primary">Primary</button>
                    <button type="button" class="btn btn-square btn-gradient-secondary">Secondary</button>
                    <button type="button" class="btn btn-square btn-gradient-success">Success</button>
                    <button type="button" class="btn btn-square btn-gradient-danger">Danger</button>
                    <button type="button" class="btn btn-square btn-gradient-warning">Warning</button>
                    <button type="button" class="btn btn-square btn-gradient-info">Info</button>
                    <button type="button" class="btn btn-square btn-gradient-light">Light</button>
                    <button type="button" class="btn btn-square btn-gradient-dark">Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Pill Gradient Buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-pill</code> for pill gradient buttons</p>
                    <button type="button" class="btn btn-pill btn-gradient-primary">Primary</button>
                    <button type="button" class="btn btn-pill btn-gradient-secondary">Secondary</button>
                    <button type="button" class="btn btn-pill btn-gradient-success">Success</button>
                    <button type="button" class="btn btn-pill btn-gradient-danger">Danger</button>
                    <button type="button" class="btn btn-pill btn-gradient-warning">Warning</button>
                    <button type="button" class="btn btn-pill btn-gradient-info">Info</button>
                    <button type="button" class="btn btn-pill btn-gradient-light">Light</button>
                    <button type="button" class="btn btn-pill btn-gradient-dark">Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Round Buttons with Icon</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-{{'{state}'}}</code> for different button states and
                        <code>.has-icon</code> for icon buttons </p>
                    <button type="button" class="btn btn-primary has-icon"><i class="flaticon-diamond"></i>
                        Primary</button>
                    <button type="button" class="btn btn-secondary has-icon"><i class="flaticon-star"></i>
                        Secondary</button>
                    <button type="button" class="btn btn-success has-icon"><i class="flaticon-tick-inside-circle"></i>
                        Success</button>
                    <button type="button" class="btn btn-danger has-icon"><i class="flaticon-alert-1"></i>
                        Danger</button>
                    <button type="button" class="btn btn-warning has-icon"><i class="flaticon-alert"></i>
                        Warning</button>
                    <button type="button" class="btn btn-info has-icon"><i class="flaticon-information"></i>
                        Info</button>
                    <button type="button" class="btn btn-light has-icon"><i
                            class="flaticon-turn-notifications-off-button"></i> Light</button>
                    <button type="button" class="btn btn-dark has-icon"><i class="flaticon-reuse"></i> Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Square Buttons with Icon</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-square</code> for square icon buttons</p>
                    <button type="button" class="btn btn-square btn-primary has-icon"><i class="flaticon-diamond"></i>
                        Primary</button>
                    <button type="button" class="btn btn-square btn-secondary has-icon"><i class="flaticon-star"></i>
                        Secondary</button>
                    <button type="button" class="btn btn-square btn-success has-icon"><i
                            class="flaticon-tick-inside-circle"></i> Success</button>
                    <button type="button" class="btn btn-square btn-danger has-icon"><i class="flaticon-alert-1"></i>
                        Danger</button>
                    <button type="button" class="btn btn-square btn-warning has-icon"><i class="flaticon-alert"></i>
                        Warning</button>
                    <button type="button" class="btn btn-square btn-info has-icon"><i class="flaticon-information"></i>
                        Info</button>
                    <button type="button" class="btn btn-square btn-light has-icon"><i
                            class="flaticon-turn-notifications-off-button"></i> Light</button>
                    <button type="button" class="btn btn-square btn-dark has-icon"><i class="flaticon-reuse"></i>
                        Dark</button>
                </div>
            </div>
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Pill Buttons with Icon</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.btn-pill</code> for pill icon buttons</p>
                    <button type="button" class="btn btn-pill btn-primary has-icon"><i class="flaticon-diamond"></i>
                        Primary</button>
                    <button type="button" class="btn btn-pill btn-secondary has-icon"><i class="flaticon-star"></i>
                        Secondary</button>
                    <button type="button" class="btn btn-pill btn-success has-icon"><i
                            class="flaticon-tick-inside-circle"></i> Success</button>
                    <button type="button" class="btn btn-pill btn-danger has-icon"><i class="flaticon-alert-1"></i>
                        Danger</button>
                    <button type="button" class="btn btn-pill btn-warning has-icon"><i class="flaticon-alert"></i>
                        Warning</button>
                    <button type="button" class="btn btn-pill btn-info has-icon"><i class="flaticon-information"></i>
                        Info</button>
                    <button type="button" class="btn btn-pill btn-light has-icon"><i
                            class="flaticon-turn-notifications-off-button"></i> Light</button>
                    <button type="button" class="btn btn-pill btn-dark has-icon"><i class="flaticon-reuse"></i>
                        Dark</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Round Icon Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.ms-btn-icon .btn-{{'{state}'}}</code> for different Icon
                                states</p>
                            <button type="button" class="ms-btn-icon btn-primary"><i
                                    class="flaticon-diamond"></i></button>
                            <button type="button" class="ms-btn-icon btn-secondary"><i
                                    class="flaticon-star"></i></button>
                            <button type="button" class="ms-btn-icon btn-success"><i
                                    class="flaticon-tick-inside-circle"></i></button>
                            <button type="button" class="ms-btn-icon btn-danger"><i
                                    class="flaticon-alert-1"></i></button>
                            <button type="button" class="ms-btn-icon btn-warning"><i
                                    class="flaticon-alert"></i></button>
                            <button type="button" class="ms-btn-icon btn-info"><i
                                    class="flaticon-information"></i></button>
                            <button type="button" class="ms-btn-icon btn-light"><i
                                    class="flaticon-turn-notifications-off-button"></i></button>
                            <button type="button" class="ms-btn-icon btn-dark"><i class="flaticon-reuse"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Round Outline Icon Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.ms-btn-icon-outline .btn-{{'{state}'}}</code> for
                                different Icon states</p>
                            <button type="button" class="ms-btn-icon-outline btn-primary"><i
                                    class="flaticon-diamond"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-secondary"><i
                                    class="flaticon-star"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-success"><i
                                    class="flaticon-tick-inside-circle"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-danger"><i
                                    class="flaticon-alert-1"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-warning"><i
                                    class="flaticon-alert"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-info"><i
                                    class="flaticon-information"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-light"><i
                                    class="flaticon-turn-notifications-off-button"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-dark"><i
                                    class="flaticon-reuse"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Square Icon Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.btn-square</code> for square Icon buttons</p>
                            <button type="button" class="ms-btn-icon btn-square btn-primary"><i
                                    class="flaticon-diamond"></i></button>
                            <button type="button" class="ms-btn-icon btn-square btn-secondary"><i
                                    class="flaticon-star"></i></button>
                            <button type="button" class="ms-btn-icon btn-square btn-success"><i
                                    class="flaticon-tick-inside-circle"></i></button>
                            <button type="button" class="ms-btn-icon btn-square btn-danger"><i
                                    class="flaticon-alert-1"></i></button>
                            <button type="button" class="ms-btn-icon btn-square btn-warning"><i
                                    class="flaticon-alert"></i></button>
                            <button type="button" class="ms-btn-icon btn-square btn-info"><i
                                    class="flaticon-information"></i></button>
                            <button type="button" class="ms-btn-icon btn-square btn-light"><i
                                    class="flaticon-turn-notifications-off-button"></i></button>
                            <button type="button" class="ms-btn-icon btn-square btn-dark"><i
                                    class="flaticon-reuse"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Square Outline Icon Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.btn-square</code> for square Icon buttons</p>
                            <button type="button" class="ms-btn-icon-outline btn-square btn-primary"><i
                                    class="flaticon-diamond"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-square btn-secondary"><i
                                    class="flaticon-star"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-square btn-success"><i
                                    class="flaticon-tick-inside-circle"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-square btn-danger"><i
                                    class="flaticon-alert-1"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-square btn-warning"><i
                                    class="flaticon-alert"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-square btn-info"><i
                                    class="flaticon-information"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-square btn-light"><i
                                    class="flaticon-turn-notifications-off-button"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-square btn-dark"><i
                                    class="flaticon-reuse"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Circle Icon Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.btn-pill</code> for circle Icon buttons</p>
                            <button type="button" class="ms-btn-icon btn-pill btn-primary"><i
                                    class="flaticon-diamond"></i></button>
                            <button type="button" class="ms-btn-icon btn-pill btn-secondary"><i
                                    class="flaticon-star"></i></button>
                            <button type="button" class="ms-btn-icon btn-pill btn-success"><i
                                    class="flaticon-tick-inside-circle"></i></button>
                            <button type="button" class="ms-btn-icon btn-pill btn-danger"><i
                                    class="flaticon-alert-1"></i></button>
                            <button type="button" class="ms-btn-icon btn-pill btn-warning"><i
                                    class="flaticon-alert"></i></button>
                            <button type="button" class="ms-btn-icon btn-pill btn-info"><i
                                    class="flaticon-information"></i></button>
                            <button type="button" class="ms-btn-icon btn-pill btn-light"><i
                                    class="flaticon-turn-notifications-off-button"></i></button>
                            <button type="button" class="ms-btn-icon btn-pill btn-dark"><i
                                    class="flaticon-reuse"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Circle Outline Icon Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.btn-pill</code> for circle Icon buttons</p>
                            <button type="button" class="ms-btn-icon-outline btn-pill btn-primary"><i
                                    class="flaticon-diamond"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-pill btn-secondary"><i
                                    class="flaticon-star"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-pill btn-success"><i
                                    class="flaticon-tick-inside-circle"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-pill btn-danger"><i
                                    class="flaticon-alert-1"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-pill btn-warning"><i
                                    class="flaticon-alert"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-pill btn-info"><i
                                    class="flaticon-information"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-pill btn-light"><i
                                    class="flaticon-turn-notifications-off-button"></i></button>
                            <button type="button" class="ms-btn-icon-outline btn-pill btn-dark"><i
                                    class="flaticon-reuse"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Button Groups</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.btn-group.btn-group-toggle</code> as a parent for
                                multiple <code>.btn</code></p>
                            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                                <label ngbButtonLabel class="btn btn-light">
                                    <input ngbButton type="radio" [value]="1"> Active
                                </label>
                                <label ngbButtonLabel class="btn btn-light">
                                    <input ngbButton type="radio" value="middle"> Radio
                                </label>
                                <label ngbButtonLabel class="btn btn-light">
                                    <input ngbButton type="radio" [value]="false"> Radio
                                </label>
                            </div>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.flex-column</code> for vertical button groups</p>
                            <div class="btn-group btn-group-toggle flex-column" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                                <label ngbButtonLabel class="btn btn-light">
                                    <input ngbButton type="radio" [value]="1"> Active
                                </label>
                                <label ngbButtonLabel class="btn btn-light">
                                    <input ngbButton type="radio" value="middle"> Radio
                                </label>
                                <label ngbButtonLabel class="btn btn-light">
                                    <input ngbButton type="radio" [value]="false"> Radio
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="ms-panel ms-panel-fh ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Block Level Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.btn-block</code> for block level buttons</p>
                            <button type="button" class="btn btn-block btn-primary">Primary</button>
                            <button type="button" class="btn btn-block btn-secondary">Secondary</button>
                            <button type="button" class="btn btn-block btn-success">Success</button>
                            <button type="button" class="btn btn-block btn-danger">Danger</button>
                            <button type="button" class="btn btn-block btn-light">Danger</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Round Social Media Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <button type="button" class="btn bg-facebook has-icon"><i class="fab fa-facebook-f"></i>
                                Facebook</button>
                            <button type="button" class="btn bg-twitter has-icon"><i class="fab fa-twitter"></i>
                                Twitter</button>
                            <button type="button" class="btn bg-linkedin has-icon"><i class="fab fa-linkedin-in"></i>
                                Linkedin</button>
                            <button type="button" class="btn bg-instagram has-icon"><i class="fab fa-instagram"></i>
                                Instagram</button>
                            <button type="button" class="btn bg-g-plus has-icon"><i class="fab fa-google-plus-g"></i>
                                Google+</button>
                            <button type="button" class="btn bg-pinterest has-icon"><i class="fab fa-pinterest-p"></i>
                                Pinterest</button>
                            <button type="button" class="btn bg-dropbox has-icon"><i class="fab fa-dropbox"></i>
                                Dropbox</button>
                            <button type="button" class="btn bg-dribble has-icon"><i class="fab fa-dribbble"></i>
                                Dribble</button>
                        </div>
                    </div>
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Square Social Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <button type="button" class="btn btn-square bg-facebook has-icon"><i
                                    class="fab fa-facebook-f"></i> Facebook</button>
                            <button type="button" class="btn btn-square bg-twitter has-icon"><i
                                    class="fab fa-twitter"></i> Twitter</button>
                            <button type="button" class="btn btn-square bg-linkedin has-icon"><i
                                    class="fab fa-linkedin-in"></i> Linkedin</button>
                            <button type="button" class="btn btn-square bg-instagram has-icon"><i
                                    class="fab fa-instagram"></i> Instagram</button>
                            <button type="button" class="btn btn-square bg-g-plus has-icon"><i
                                    class="fab fa-google-plus-g"></i> Google+</button>
                            <button type="button" class="btn btn-square bg-pinterest has-icon"><i
                                    class="fab fa-pinterest-p"></i> Pinterest</button>
                            <button type="button" class="btn btn-square bg-dropbox has-icon"><i
                                    class="fab fa-dropbox"></i> Dropbox</button>
                            <button type="button" class="btn btn-square bg-dribble has-icon"><i
                                    class="fab fa-dribbble"></i> Dribble</button>
                        </div>
                    </div>
                    <div class="ms-panel ms-btn-display">
                        <div class="ms-panel-header">
                            <h6>Pill Social Buttons</h6>
                        </div>
                        <div class="ms-panel-body">
                            <button type="button" class="btn btn-pill bg-facebook has-icon"><i
                                    class="fab fa-facebook-f"></i> Facebook</button>
                            <button type="button" class="btn btn-pill bg-twitter has-icon"><i
                                    class="fab fa-twitter"></i> Twitter</button>
                            <button type="button" class="btn btn-pill bg-linkedin has-icon"><i
                                    class="fab fa-linkedin-in"></i> Linkedin</button>
                            <button type="button" class="btn btn-pill bg-instagram has-icon"><i
                                    class="fab fa-instagram"></i> Instagram</button>
                            <button type="button" class="btn btn-pill bg-g-plus has-icon"><i
                                    class="fab fa-google-plus-g"></i> Google+</button>
                            <button type="button" class="btn btn-pill bg-pinterest has-icon"><i
                                    class="fab fa-pinterest-p"></i> Pinterest</button>
                            <button type="button" class="btn btn-pill bg-dropbox has-icon"><i
                                    class="fab fa-dropbox"></i> Dropbox</button>
                            <button type="button" class="btn btn-pill bg-dribble has-icon"><i
                                    class="fab fa-dribbble"></i> Dribble</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>