<div class="body ms-body ms-primary-theme" id="body">
    <main class="body-content ms-coming-soon">
        <!-- Body Content Wrapper -->
        <div class="ms-content-wrapper">
            <h1>We Are Coming Soon</h1>
            <p class="ms-duration">Our Exciting Website is Under Construction</p>
            <ul id="countdown-duration" class="ms-list-flex">
                <li>
                    <p class="ms-duration">{{daysToDday}}</p>
                    <p class="ms-duration">Days</p>
                </li>
                <li>
                    <p class="ms-duration">{{hoursToDday}}</p>
                    <p class="ms-duration">Hours</p>
                </li>
                <li>
                    <p class="ms-duration">{{minutesToDday}}</p>
                    <p class="ms-duration">Minutes</p>
                </li>
                <li>
                    <p class="ms-duration">{{secondsToDday}}</p>
                    <p class="ms-duration">Seconds</p>
                </li>
            </ul>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Your Email">
                <div class="input-group-append">
                    <button type="button" name="update" class="btn btn-primary">Get Updated</button>
                </div>
            </div>
            <ul class="ms-list-flex ms-social-container">
                <li> <a target="_blank" class="ms-social ms-fb" routerLink="/"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li> <a target="_blank" class="ms-social ms-pnt" routerLink="/"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li> <a target="_blank" class="ms-social ms-tw" routerLink="/"><i class="fab fa-twitter"></i></a> </li>
                <li> <a target="_blank" class="ms-social ms-wa" routerLink="/"><i class="fab fa-whatsapp"></i></a> </li>
                <li> <a target="_blank" class="ms-social ms-skype" routerLink="/"><i class="fab fa-skype"></i></a> </li>
                <li> <a target="_blank" class="ms-social ms-g-plus" routerLink="/"><i
                            class="fab fa-google-plus-g"></i></a> </li>
            </ul>
        </div>
    </main>
</div>