
<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Default Wizard</h6>
                </div>
                <div class="ms-panel-body">
                    <ng-wizard [config]="defaultconfig" (stepChanged)="stepChanged($event)"  class="ms-form-wizard style1-wizard">
                        <ng-wizard-step [title]="'Application'">
                            <div class="ms-wizard-step">
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label>First name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="First name" value="John">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Last name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Last name" value="Doe">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Email Address</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <label>Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step [title]="'Payment'">
                            <div class="ms-wizard-step">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>Payment Method</label>
                                        <ul class="ms-payment-container">
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-payoneer.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-visa.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-paypal.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-master.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-6 col-md-12 mb-3">
                                        <label>Card Holder Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Card Holder Name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12">
                                        <label>Card Number</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Card Number">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12">
                                        <label>Month</label>
                                        <div class="input-group">
                                            <select class="form-control">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12">
                                        <label>Year</label>
                                        <div class="input-group">
                                            <select class="form-control">
                                                <option value="">2022</option>
                                                <option value="">2022</option>
                                                <option value="">2022</option>
                                                <option value="">2023</option>
                                                <option value="">2024</option>
                                                <option value="">2025</option>
                                                <option value="">2026</option>
                                                <option value="">2027</option>
                                                <option value="">2028</option>
                                                <option value="">2029</option>
                                                <option value="">2030</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12"> 
                                        <label placement="left" ngbTooltip="3 digit number at the back of your card">CVV <i class="material-icons">info_outline</i> </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="CVV">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step [title]="'Proceed'">
                            <div class="ms-wizard-step">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                </p>
                            </div>
                        </ng-wizard-step>
                    </ng-wizard>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Wizard Style 2</h6>
                </div>
                <div class="ms-panel-body">
                    <ng-wizard [config]="style2config" (stepChanged)="stepChanged($event)"  class="ms-form-wizard ms-wizard-pill style2-wizard">
                        <ng-wizard-step [title]="'Application'" [description]="'1'">
                            <div class="ms-wizard-step">
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label>First name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="First name" value="John">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>Last name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Last name" value="Doe">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Email Address</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <label>Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step [title]="'Payment'" [description]="'2'">
                            <div class="ms-wizard-step">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>Payment Method</label>
                                        <ul class="ms-payment-container">
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-payoneer.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-visa.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-paypal.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-master.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xl-6 col-md-12 mb-3">
                                        <label>Card Holder Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Card Holder Name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12">
                                        <label>Card Number</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Card Number">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12">
                                        <label>Month</label>
                                        <div class="input-group">
                                            <select class="form-control">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12">
                                        <label>Year</label>
                                        <div class="input-group">
                                            <select class="form-control">
                                                <option value="">2022</option>
                                                <option value="">2022</option>
                                                <option value="">2022</option>
                                                <option value="">2023</option>
                                                <option value="">2024</option>
                                                <option value="">2025</option>
                                                <option value="">2026</option>
                                                <option value="">2027</option>
                                                <option value="">2028</option>
                                                <option value="">2029</option>
                                                <option value="">2030</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-12">
                                        <label placement="left" ngbTooltip="3 digit number at the back of your card">CVV <i class="material-icons">info_outline</i> </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="CVV">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step [title]="'Proceed'" [description]="'3'">
                            <div class="ms-wizard-step">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                </p>
                            </div>
                        </ng-wizard-step>
                    </ng-wizard>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Wizard Style 3</h6>
                </div>
                <div class="ms-panel-body">
                    <ng-wizard [config]="style4config" (stepChanged)="stepChanged($event)"  class="ms-form-wizard ms-wizard-round style3-wizard">
                        <ng-wizard-step [description]="'1'">
                            <div class="ms-wizard-step">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>First name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="First name" value="John">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label>Last name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Last name" value="Doe">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Email Address</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <label>Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step [description]="'2'">
                            <div class="ms-wizard-step">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>Payment Method</label>
                                        <ul class="ms-payment-container">
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-payoneer.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-visa.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-paypal.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-master.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Card Holder Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Card Holder Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Card Number</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Card Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Month</label>
                                        <div class="input-group">
                                            <select class="form-control">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Year</label>
                                        <div class="input-group">
                                            <select class="form-control">
                                                <option value="">2022</option>
                                                <option value="">2022</option>
                                                <option value="">2022</option>
                                                <option value="">2023</option>
                                                <option value="">2024</option>
                                                <option value="">2025</option>
                                                <option value="">2026</option>
                                                <option value="">2027</option>
                                                <option value="">2028</option>
                                                <option value="">2029</option>
                                                <option value="">2030</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label placement="left" ngbTooltip="3 digit number at the back of your card">CVV <i class="material-icons">info_outline</i> </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="CVV">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step [description]="'3'">
                            <div class="ms-wizard-step">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                </p>
                            </div>
                        </ng-wizard-step>
                    </ng-wizard>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Wizard Style 4</h6>
                </div>
                <div class="ms-panel-body">
                    <ng-wizard [config]="style3config" (stepChanged)="stepChanged($event)"  class="ms-form-wizard ms-wizard-vertical style4-wizard">
                        <ng-wizard-step [title]="'Application'" [description]="'1'">
                            <div class="ms-wizard-step">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>First name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="First name" value="John">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label>Last name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Last name" value="Doe">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Email Address</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <label>Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step [title]="'Payment'" [description]="'2'">
                            <div class="ms-wizard-step">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>Payment Method</label>
                                        <ul class="ms-payment-container">
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-payoneer.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-visa.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-paypal.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="ms-radio-img">
                                                    <input type="radio" name="payment-method" value="">
                                                    <div class="ms-payment-img">
                                                        <img src="assets/img/payment/payment-master.png" alt="payment">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label>Card Holder Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Card Holder Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Card Number</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Card Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Month</label>
                                        <div class="input-group">
                                            <select class="form-control">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Year</label>
                                        <div class="input-group">
                                            <select class="form-control">
                                                <option value="">2022</option>
                                                <option value="">2022</option>
                                                <option value="">2022</option>
                                                <option value="">2023</option>
                                                <option value="">2024</option>
                                                <option value="">2025</option>
                                                <option value="">2026</option>
                                                <option value="">2027</option>
                                                <option value="">2028</option>
                                                <option value="">2029</option>
                                                <option value="">2030</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label placement="left" ngbTooltip="3 digit number at the back of your card">CVV <i class="material-icons">info_outline</i> </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="CVV">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-wizard-step>
                        <ng-wizard-step [title]="'Proceed'" [description]="'3'">
                            <div class="ms-wizard-step">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                </p>
                            </div>
                        </ng-wizard-step>
                    </ng-wizard>
                </div>
            </div>
        </div>
    </div>
</div>