<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="col-md-6">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Light Typography</h6>
                </div>
                <div class="ms-panel-body">
                    <h1>Heading 1</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h2>Heading 2</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h3>Heading 3</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h4>Heading 4</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h5>Heading 5</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h6>Heading 6</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-dark-theme-panel">
                <div class="ms-panel-header">
                    <h6>Dark Typography</h6>
                </div>
                <div class="ms-panel-body">
                    <h1>Heading 1</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h2>Heading 2</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h3>Heading 3</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h4>Heading 4</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h5>Heading 5</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <h6>Heading 6</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Headings Typography</h6>
                </div>
                <div class="ms-panel-body">
                    <h1>Heading 1</h1>
                    <p>Roboto Medium 60px</p>
                    <h2>Heading 2</h2>
                    <p>Roboto Medium 48px</p>
                    <h3>Heading 3</h3>
                    <p>Roboto Medium 30px</p>
                    <h4>Heading 4</h4>
                    <p>Roboto Regular 24px</p>
                    <h5>Heading 5</h5>
                    <p>Roboto Medium 22px</p>
                    <h6>Heading 6</h6>
                    <p>Roboto Regular 16px</p>
                </div>
            </div>
        </div> 
        <div class="col-md-6">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>State Typography</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.ms-text-{{'{state}'}}</code> in any text element</p>
                    <p class="ms-text-primary">This is a primary color text | The quick brown fox jumps over the lazy dog</p>
                    <p class="ms-text-secondary">This is a secondary color text | The quick brown fox jumps over the lazy dog</p>
                    <p class="ms-text-success">This is a success color text | The quick brown fox jumps over the lazy dog</p>
                    <p class="ms-text-info">This is an info color text | The quick brown fox jumps over the lazy dog</p>
                    <p class="ms-text-danger">This is a danger color text | The quick brown fox jumps over the lazy dog</p>
                    <p class="ms-text-warning">This is a warning color text | The quick brown fox jumps over the lazy dog</p>
                </div>
            </div>
        </div> 
    </div>
</div>