<div class="body ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar" id="body">
    <app-sidenav></app-sidenav>
    <main class="body-content">
        <app-topbar></app-topbar>
        <app-content></app-content>
    </main>
    <app-quickbar></app-quickbar>
</div>
<ng-template #content let-modal>
    <div class="modal-body">
        <button type="button" class="close" (click)="modal.dismiss('Cross click')"><span>&times;</span></button>
        <div class="ms-auth-container">
            <div class="ms-auth-col">
                <div class="ms-auth-bg">
                    <ngb-carousel class="ms-auth-slider ms-indicator-slider d-flex" [showNavigationArrows]="false"
                        [showNavigationIndicators]="true">
                        <ng-template ngbSlide *ngFor="let item of sliderData">
                            <h1>{{item.title}}</h1>
                            <p>{{item.text}}</p>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="ms-auth-col">
                <div class="ms-auth-form">
                    <form [formGroup]="loginForm" (validSubmit)="onSubmit()" class="clearfix">
                        <h1>Login to Account</h1>
                        <p>Please enter your email and password to continue</p>
                        <div class="mb-3">
                            <label>Email Address</label>
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Email Address"
                                    formControlName="Email">
                            </div>
                        </div>
                        <div class="mb-2">
                            <label>Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Password"
                                    formControlName="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="ms-checkbox-wrap">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="ms-checkbox-check"></i> 
                            </label>
                            <span> Remember Password </span>
                            <label class="d-block mt-3"><a href="javascript:void(0)" class="btn-link"
                                    (click)="open(modalone)">Forgot Password?</a></label>
                        </div>
                        <button class="btn btn-primary mt-4 d-block w-100" type="submit">Sign In</button>
                        <p class="mb-0 mt-3 text-center">Don't have an account? <a class="btn-link"
                                routerLink="/prebuilt-pages/default-register">Create Account</a> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #modalone let-modal>
    <div class="modal-body text-center">
        <button type="button" class="close" (click)="modal.dismiss('Cross click')"><span
                aria-hidden="true">&times;</span></button>
        <i class="flaticon-secure-shield d-block"></i>
        <h1>Forgot Password?</h1>
        <p> Enter your email to recover your password </p>
        <form>
            <div class="ms-form-group has-icon">
                <input type="text" placeholder="Email Address" class="form-control" name="forgot-password" value="">
                <i class="material-icons">email</i>
            </div>
            <button type="submit" class="btn btn-primary shadow-none">Reset Password</button>
        </form>
    </div>
</ng-template>