<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Round Badges</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.badge-{{'{state}'}}</code> for different states</p>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-secondary">Secondary</span>
                    <span class="badge badge-success">Success</span>
                    <span class="badge badge-danger">Danger</span>
                    <span class="badge badge-warning">Warning</span>
                    <span class="badge badge-info">Info</span>
                    <span class="badge badge-light">Light</span>
                    <span class="badge badge-dark">Dark</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Badge Square</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.badge-square</code> for square badges</p>
                    <span class="badge badge-square badge-primary">Primary</span>
                    <span class="badge badge-square badge-secondary">Secondary</span>
                    <span class="badge badge-square badge-success">Success</span>
                    <span class="badge badge-square badge-danger">Danger</span>
                    <span class="badge badge-square badge-warning">Warning</span>
                    <span class="badge badge-square badge-info">Info</span>
                    <span class="badge badge-square badge-light">Light</span>
                    <span class="badge badge-square badge-dark">Dark</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Badge Pills</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.badge-pill</code> for pill badges</p>
                    <span class="badge badge-pill badge-primary">Primary</span>
                    <span class="badge badge-pill badge-secondary">Secondary</span>
                    <span class="badge badge-pill badge-success">Success</span>
                    <span class="badge badge-pill badge-danger">Danger</span>
                    <span class="badge badge-pill badge-warning">Warning</span>
                    <span class="badge badge-pill badge-info">Info</span>
                    <span class="badge badge-pill badge-light">Light</span>
                    <span class="badge badge-pill badge-dark">Dark</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Badges with Links</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Wrap in an <code>a</code> tag</p>
                    <a routerLink="/" class="badge badge-primary">Primary</a>
                    <a routerLink="/" class="badge badge-secondary">Secondary</a>
                    <a routerLink="/" class="badge badge-success">Success</a>
                    <a routerLink="/" class="badge badge-danger">Danger</a>
                    <a routerLink="/" class="badge badge-warning">Warning</a>
                    <a routerLink="/" class="badge badge-info">Info</a>
                    <a routerLink="/" class="badge badge-light">Light</a>
                    <a routerLink="/" class="badge badge-dark">Dark</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Outline Badges</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.badge-outline-{{'{state}'}}</code> for different states</p>
                    <span class="badge badge-outline-primary">Primary</span>
                    <span class="badge badge-outline-secondary">Secondary</span>
                    <span class="badge badge-outline-success">Success</span>
                    <span class="badge badge-outline-danger">Danger</span>
                    <span class="badge badge-outline-warning">Warning</span>
                    <span class="badge badge-outline-info">Info</span>
                    <span class="badge badge-outline-light">Light</span>
                    <span class="badge badge-outline-dark">Dark</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Gradient Badges</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.badge-gradient-{{'{state}'}}</code> for different states</p>
                    <span class="badge badge-gradient-primary">Primary</span>
                    <span class="badge badge-gradient-secondary">Secondary</span>
                    <span class="badge badge-gradient-success">Success</span>
                    <span class="badge badge-gradient-danger">Danger</span>
                    <span class="badge badge-gradient-warning">Warning</span>
                    <span class="badge badge-gradient-info">Info</span>
                    <span class="badge badge-gradient-light">Light</span>
                    <span class="badge badge-gradient-dark">Dark</span>
                </div>
            </div>
        </div> 
        <div class="col-md-12">
            <div class="ms-panel ms-panel-fh ms-btn-display">
                <div class="ms-panel-header">
                    <h6>Badges within buttons</h6>
                </div>
                <div class="ms-panel-body">
                    <button type="button" class="btn btn-primary" name="button">Notifications <span class="badge badge-pill badge-outline-primary">4</span></button>
                    <button type="button" class="btn btn-secondary" name="button">Edit <span class="badge badge-pill badge-outline-secondary">4</span></button>
                    <button type="button" class="btn btn-warning" name="button">Warnings <span class="badge badge-pill badge-outline-warning">8</span></button>
                    <button type="button" class="btn btn-danger" name="button">Alerts <span class="badge badge-pill badge-outline-danger">25</span></button>
                    <button type="button" class="btn btn-info" name="button">Info <span class="badge badge-pill badge-outline-info">16</span></button>
                    <button type="button" class="btn btn-light" name="button">Users <span class="badge badge-pill badge-outline-light">7</span></button>
                    <button type="button" class="btn btn-dark" name="button">Messages <span class="badge badge-pill badge-outline-dark">104</span></button>
                </div>
            </div>
        </div>
    </div>
</div>