<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Default Accordion</h6>
                </div>
                <div class="ms-panel-body">
                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel id="static-1">
                            <ng-template ngbPanelTitle>
                                <span> Lorem Ipsum has been the industry standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                            <ng-template ngbPanelTitle>
                                <span> Lorem Ipsum has been the industry standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Accordion with Gap</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.has-gap</code> in the <code>.accordion</code></p>
                    <ngb-accordion [closeOthers]="true" class="has-gap ms-accordion-chevron" activeIds="static-1">
                        <ngb-panel id="static-1">
                            <ng-template ngbPanelTitle>
                                <span> Lorem Ipsum has been the industry standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                            <ng-template ngbPanelTitle>
                                <span> Lorem Ipsum has been the industry standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3">
                            <ng-template ngbPanelTitle>
                                <span> Lorem Ipsum has been the industry standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Accordion with Icon</h6>
                </div>
                <div class="ms-panel-body">
                    <p class="ms-directions">Use <code>.has-icon</code> in the accordion title</p>
                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel id="static-1">
                            <ng-template ngbPanelTitle>
                                <span class="has-icon"> <i class="flaticon-email"></i> Lorem Ipsum has been the industry
                                    standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                            <ng-template ngbPanelTitle>
                                <span class="has-icon"> <i class="flaticon-start"></i> Lorem Ipsum has been the industry
                                    standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3">
                            <ng-template ngbPanelTitle>
                                <span class="has-icon"> <i class="flaticon-conversation"></i> Lorem Ipsum has been the
                                    industry standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-header">
                    <h6>Accordion with Gap and Icon</h6>
                </div>
                <div class="ms-panel-body">
                    <ngb-accordion [closeOthers]="true" class="has-gap ms-accordion-chevron" activeIds="static-1">
                        <ngb-panel id="static-1">
                            <ng-template ngbPanelTitle>
                                <span class="has-icon"> <i class="flaticon-email"></i> Lorem Ipsum has been the industry
                                    standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                            <ng-template ngbPanelTitle>
                                <span class="has-icon"> <i class="flaticon-start"></i> Lorem Ipsum has been the industry
                                    standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3">
                            <ng-template ngbPanelTitle>
                                <span class="has-icon"> <i class="flaticon-conversation"></i> Lorem Ipsum has been the
                                    industry standard dummy text </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews.
                                    Iterative approaches to corporate strategy foster collaborative thinking to further
                                    the overall value proposition.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>
</div>